/** Layout */

.content-container {
  height: calc(100% - 2rem);
  display: grid;
  grid-template:
    "filter-panel map-element  map-element     assistant"
    "filter-panel trails-table elevation-panel assistant";
  grid-template-rows: 1fr auto;
  grid-template-columns: 400px 2fr 1fr 200px;
  gap: 1rem;
  margin: 1rem;
}

#mapElement {
  grid-area: map-element;
}

#filterPanel {
  grid-area: filter-panel;
}

#trailsTable {
  grid-area: trails-table;
}

#elevationPanel {
  grid-area: elevation-panel;
}

#assistant {
  grid-area: assistant;
}

#parkList {
  flex: 1;
}

/** Styling */

.content-container > * {
  border-radius: 8px;
  box-shadow: var(--calcite-shadow-sm);
  overflow: auto;
}

#elevationPanel calcite-chip-group {
  margin-inline-end: 0.5rem;
  align-self: center;
}

.calciteBlockNoPadding {
  --calcite-block-padding: 0;
}

calcite-shell.custom-theme {
  --calcite-color-brand: #00c291;
  --calcite-color-brand-hover: #00ad82;
  --calcite-color-brand-press: #00916d;
  --calcite-color-background: #f2f7f4;
  --calcite-color-foreground-1: #fafffd;
  --calcite-color-foreground-2: #edf7f3;
  --calcite-color-foreground-3: #e4ebe8;
  --calcite-color-foreground-current: #c7ffda;
  --calcite-color-info: #007f99;
  --calcite-color-success: #47ac35;
  --calcite-color-warning: #eeb417;
  --calcite-color-danger: #d92024;
  --calcite-color-danger-hover: #a91e20;
  --calcite-color-danger-press: #7c1315;
  --calcite-color-text-1: #222927;
  --calcite-color-text-2: #333d3a;
  --calcite-color-text-3: #3a4541;
  --calcite-color-text-inverse: #fafffd;
  --calcite-color-text-link: #04716c;
  --calcite-color-border-1: #c3c7c5;
  --calcite-color-border-2: #cdd4d0;
  --calcite-color-border-3: #dfe8e3;
  --calcite-color-border-input: #727d77;

  --vaadin-grid-cell-background: var(--calcite-color-background);
}

.custom-theme .esri-widget {
  background-color: var(--calcite-color-background);
}

calcite-navigation-logo {
  color: var(--calcite-color-brand);
}

arcgis-search {
  display: flex;
  align-items: center;
  margin: 1rem;
}
