html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
}

#applicationDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#viewDiv {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  order: 1;
}

#titleDiv {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2019rem;
  padding: 10px;
}

#sliderContainer {
  flex: 0 0 80px;
  order: 2;

  display: flex;
  flex-flow: row;

  padding: 0 12px;

  border-top: 1px solid #383838;
  box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

#sliderValue {
  flex: 0 0 100px;
  order: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  font-size: 300%;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#sliderLabels {
  flex: 1 1 auto;
  order: 1;

  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#rangeWrapper {
  flex: 1 1 auto;
  order: 2;

  position: relative;
  padding: 0 20px;
}

#slider {
  width: 100%;
}

/**
* Play/Stop toggle button
*/

#playButton {
  flex: 0 0 100px;
  order: 3;

  margin: 20px 0;
}

.toggle-button {
  display: flex;
}

.toggle-button.toggled .toggle-button-icon {
  color: #CC1B1B;
}

.toggle-button .toggle-button-icon {
  color: #1BCC1B;
}

.toggle-button> :nth-child(2) {
  display: none;
}

.toggle-button.toggled> :nth-child(1) {
  display: none;
}

.toggle-button.toggled> :nth-child(2) {
  display: block;
}

/**
* Hover tooltip
*/

.tooltip {
  position: absolute;
  pointer-events: none;
  transition: opacity 200ms;
}

.tooltip>div {
  margin: 0 auto;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
  transform: translate3d(-50%, -125%, 0);
}
