html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.application-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.application-container arcgis-map {
  flex: 1;
}

.application-container calcite-slider,
.application-container arcgis-time-slider {
  flex: 0;
  margin: 24px;
}
